<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
<!--  
  <share-button button="facebook"></share-button>
   

  <share-buttons theme="modern-light" show="11"></share-buttons> -->
 
  <!-- <share-buttons theme="material-dark" show="11" image="https://loremflickr.com/320/240"></share-buttons> -->

  <share-button button="twitter"><img src="./assets/twitter.png"></share-button>
  <share-button button="facebook"><img src="./assets/facebook.png"></share-button>
  <share-button button="whatsapp"><img src="./assets/whatsapp.png"></share-button>
  <share-button button="pinterest"><img src="./assets/pinterest.png"></share-button>
  <share-button button="reddit"><img src="./assets/reddit.png"></share-button>


</div>


<router-outlet></router-outlet>
