/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */
/* @import '@ngx-share/button/styles/share-buttons'; */
/* @import '@ngx-share/button/styles/themes/default/default-theme'; */
//  @import url('https://fonts.googleapis.com/css?family=Spectral+SC:700');  
//  @import '~@ngx-share/button/themes/material/material-dark-theme';
//  @import '~@ngx-share/button/themes/modern/modern-light-theme'; 
@import url('https://fonts.googleapis.com/css?family=Spectral+SC:700');

@import '~@ngx-share/button/themes/material/material-dark-theme';
@import '~@ngx-share/button/themes/modern/modern-light-theme';
body {
  background-color: #f9f9f9;
  font-family: 'Spectral SC', serif;
  margin: 0;
}

h1 {
  color: dodgerblue;
  text-align: center;
}
   
h3 {
  text-align: center;
  background-color: #ededed;
  padding: 0;
  margin-bottom: 1em;
}

h4 {
  margin-top: 0.5em;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  background-color: dodgerblue;
}

li {
  flex: 1;
  background-color: dodgerblue;
  margin: 0 1em;
  overflow: hidden;
}

a {
  box-sizing: border-box;
  text-decoration: none;
  padding: .3em;
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: bold;
  transition: background-color ease-in-out 200ms;
}

.active {
  background-color: rgba(0,0,0, 0.25);
}

